.box {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 2px 3px 3px grey;
    position: absolute;
    top: 0%;
    right: 0.5%;
}
.box p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.close {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60%;
    cursor: pointer;
}

